.org {
  margin: calc(0.25 * var(--shift-step));
}

.org-group {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.org>div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.org>div:nth-child(1) {
  border-bottom: 1px solid var(--bord-col);
}

.org-group::before,
.org-group::after {
  content: '|';
  color: var(--bord-col);
}

.org-group~* {
  border: 1px solid var(--bord-col);
  margin: calc(0.25 * var(--shift-step));
  text-align: center;
  padding: calc(0.25 * var(--shift-step));
  /* font-size: 0.75rem; */
}