/* Walpaper with spatial image */
body {
    background-image: url('src/views/spatial.jpg');
    background-blend-mode: lighten;
    background-position: center;
    background-size: cover;
}

/* Application style */
.App {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}

/* Main container style */
#root {
    padding: 20px;
    background-color: rgba(0, 0, 0, .93);
    border-radius: 5%;
    margin: auto;
}

/* Forms button */
form > button {
    margin-top: 20px;
}

/* Style of the organizational graphg */
.org {
    font-family: monospace, monospace;
    --bord-col: rgba(255, 255, 255, .35);
}

.org-group {
    display: flex;
    flex-flow: column nowrap;
}

.org > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.org > div:nth-child(1) {
    border-bottom: 1px solid var(--bord-col);
}

.org-group::before,
.org-group::after {
    content: '|';
    color: var(--bord-col);
}

.org-group ~ * {
    border: 1px solid var(--bord-col);
    margin: 1px 5px;
}

/* Media query for4 medium screens (tablets and laptops) */
@media (min-width: 768px) {
    .App {
        max-width: 80%;
    }

    #root {
        padding: 30px;
        border-radius: 2%;
    }

    form > button {
        margin-top: 30px;
        font-size: 1.2rem;
    }

    .org > div {
        justify-content: space-around;
    }
}

/* Media query for large screens (large desks and monitors ) */
@media (min-width: 1200px) {
    .App {
        max-width: 60%;
    }

    #root {
        padding: 40px;
    }

    form > button {
        margin-top: 40px;
        font-size: 1.5rem;
    }

    .org > div {
        justify-content: space-between;
    }
}