* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: monospace, monospace;
    line-height: 1.2;
    font-weight: 400;

    color-scheme: light dark;
    --blue: #66FCF1;
    --white: rgba(255, 255, 255, 0.87);
    --red: #EB5B55;
    --bg: #141218;
    --shift-step: 10px;
    --bord-col: rgba(255, 255, 255, .35);
    color: var(--blue);
    background-color: var(--bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root>header {
    position: sticky;
    top: 0;
    background-color: var(--bg);
    padding: var(--shift-step);
}

#root>header>h1,
#root>header>h2,
#root>header>h3,
#root>header>h4 {
    padding: calc(2 * var(--shift-step)) 0;
    text-align: center;
}

body {
    width: 100vw;
}

nav {
    padding: var(--shift-step);
}

nav a::before {
    content: '<_';
}

nav:hover::before,
nav:focus::before {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--blue);
    cursor: pointer;
}

main {
    padding: var(--shift-step);
    margin-left: calc(3 * var(--shift-step));
}

main>header::before {
    content: '#_';
}

main>a::before {
    content: '>_';
}

main>a:hover::before,
main>a:focus::before {
    font-weight: bold;
}

main>header {
    padding: var(--shift-step) 0;
}

main>section {
    margin-left: calc(2 * var(--shift-step));
}

.button-container {
    padding-right: calc(3 * var(--shift-step));
    margin: calc(3 * var(--shift-step)) 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main p::before,
form label::before,
legend::before,
main button::before,
main button::after {
    content: '_';
}

button:not([disabled]):hover,
button:not([disabled]):focus,
main button:not([disabled]):hover::before,
main button:not([disabled]):focus::before,
main button:not([disabled]):hover::after,
main button:not([disabled]):focus::after {
    font-weight: bold;
}

button {
    all: unset;
    cursor: pointer;
}

button:disabled {
    color: gray;
}

a:hover,
a:focus {
    font-weight: bold;
}

form {
    padding-top: calc(2 * var(--shift-step));
}

.basic-input {
    display: grid;
    grid-template-columns: 1fr 80%;
    grid-template-rows: 100%;
    align-items: center;
}

.basic-input>input[type] {
    width: calc(100% - calc(3 * var(--shift-step)));
}

.files-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: var(--shift-step);
}

.files-container>input {
    width: calc(80% - calc(3 * var(--shift-step)));
}

fieldset>div {
    padding-left: calc(2 * var(--shift-step));
}

fieldset>button {
    padding-right: calc(3 * var(--shift-step));
}

input {
    line-height: 1.2;
    font-size: 1rem;
    background-color: var(--bg);
    border: 1px solid gray;
    accent-color: var(--blue);
    font-family: monospace, monospace;
    padding: calc(0.5 * var(--shift-step));
}

textarea {
    width: calc(100% - calc(3 * var(--shift-step)));
    aspect-ratio: 3/1;
    color: var(--blue);
    padding: calc(0.5 * var(--shift-step));
    resize: vertical;
    line-height: 1.2;
}

form>div>input[type='text'] {
    width: fit-content;
}

input[type="checkbox"] {
    margin-right: calc(3 * var(--shift-step));
}

input[type="checkbox"]:checked 

label,
input {
    color: var(--blue);
}

fieldset {
    border: none;
    margin: var(--shift-step) 0;
}

legend {
    margin-bottom: var(--shift-step);
}

main p {
    padding: var(--shift-step) 0;
}

main article {
    padding: var(--shift-step);
    text-indent: calc(2 * var(--shift-step));
}

ul li {
    list-style: none;
}

ul a li::before {
    content: '>_';
}

ul a li {
    padding: var(--shift-step) 0;
}

.red-text {
    color: var(--red);
}

.red-text:hover {
    text-shadow: 0 0 5px red;
}

.typewriter {
    white-space: nowrap;
    overflow: hidden;
    /* border-right: 1px solid; */
    animation: typing 2s steps(30, end), blink 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@media (min-width: 768px) {
    :root {
        --shift-step: 15px;
    }

    body {
        padding: 0 10%;
    }
}

@media (min-width: 1200px) {
    :root {
        --shift-step: 20px;
    }

    body {
        padding: 0 20%;
    }
}